@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-3xl: 20px;
  --font-size-lg: 18px;
  --font-size-6xl: 20px;
  --font-size-xl: 20px;

  /* Colors */
  --color-gray: rgba(0, 0, 0, 0.6);
  --color-darkslategray: #184d32;

  /* Gaps */
  --gap-xl: 20px;
  --gap-14xl: 33px;
  --gap-base: 16px;

  /* Paddings */
  --padding-xl: 20px;
}

.merkist-logo-02-1 {
    height: 75px;
    width: 197px;
    position: relative;
    object-fit: cover;
  
  }
  .help {
    align-self: stretch;
    position: relative;
    font-weight: 600;
    color: #184D32;
  }
  .help-wrapper,
  .merkist-logo-02-1-parent {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .merkist-logo-02-1-parent {
    width: 1216px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 var(--padding-xl) 0 0;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .icbaseline-facebook {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .frame-child {
    position: absolute;
    top: 506px;
    left: 0;
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .user-email,
  .user-name {
    /* align-self: stretch;
    position: relative; */
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .user-name1 {
    position:absolute;
    top: 5px;
    left: 800px;
    width: 164px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 400px;
  }
  
  .user-info,
  .user-name-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .user-name-parent {
    flex: 1;
    flex-direction: column;
    gap: 45px;
  }
  .user-info {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 12px;
  }
  .back {
    width:100px;
    height: 36px;
    position: relative;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    flex-shrink: 0;
    top: 10px;
    color: #184D32;
  }
  .user-info-parent {
    position: absolute;
    top: 0px;
    left: 15px;
    width: 164px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 400px;
  }
  .polygon-parent {
    height: 500px;
    width: 100px;
    position: relative;
    min-width: 179px;
  }
  .vector-icon {
    width: 6px;
    height: 16px;
    position: relative;
    object-fit: contain;
  }
  .vector-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 6px 0 0;
  }
  .merkist-project {
    flex: 1;
    position: relative;
  }
  .frame-parent1 {
    width: 268px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-14xl);
  }
  .vector-icon1 {
    width: 6px;
    height: 16px;
    position: relative;
    object-fit: contain;
  }
  .vector-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 0 0;
  }
  .merkistgmailcom {
    flex: 1;
    position: relative;
    white-space: nowrap;
  }
  .frame-container,
  .frame-div,
  .frame-parent2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent2 {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-14xl);
  }
  .frame-container,
  .frame-div {
    flex-direction: column;
  }
  .frame-div {
    align-self: stretch;
    gap: 40px;
  }
  .frame-container {
    width: 281px;
    padding: 3px 0 0;
    box-sizing: border-box;
    font-size: var(--font-size-3xl);
    color: var(--color-gray);
  }
  .frame-group,
  .frame-wrapper {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .frame-group {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    /* debug_commit: 1de1738; */
    gap: var(--gap-xl);
  }
  .frame-wrapper {
    width: 585px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 21px 0 0;
    box-sizing: border-box;
    max-width: calc(100% - 1309px);
  }
  .unsplash3jmfencl24m-icon {
    height: 180px;
    width: 180px;
    position: absolute;
    border-radius: 100px;
    object-fit: contain;
    z-index: 1;
    top: -3em;
    right: 10px;
    left: 800px;
  padding-right: 1px;
  }
  .merkist-logo-1 {
    align-self: stretch;
    height: 396px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  /* .merkist-logo-1-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 395px 0 0;
    box-sizing: border-box;
    min-width: 675px;
    max-width: 100%;
    margin-left: -100px;
  } */
  .merkist-logo-1-wrapper {
    position: fixed; /* Position it relative to the viewport */
    bottom: 0; /* Align it to the bottom */
    right: 120px; /* Align it to the right */
    transform: scale(0.1); /* Decrease the size to 50% */
    transform-origin: bottom right; /* Ensure it scales from the bottom right corner */
  }
  
  .frame-parent,
  .unsplash3jmfencl24m-parent,
  .user-details,
  .user-details-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .unsplash3jmfencl24m-parent {
    width: 1139px;
    flex-wrap: wrap;
    flex-shrink: 0;
    /* debug_commit: 1de1738; */
    max-width: calc(100% - 620px);
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 20px;
    left: 1500px;
  margin-top: 2px;
  }
  .frame-parent,
  .user-details,
  .user-details-inner {
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-parent {
    height: 642px;
    width: 1292px;
    padding: 0 0 82px;
    gap: 170px;
  }
  .user-details,
  .user-details-inner {
    padding: 0 0 0 1px;
    text-align: left;
    font-size: var(--font-size-6xl);
    color: var(--color-darkslategray);
    font-family: var(--font-inter);
  }
  .user-details {
    background-color: #fff;
    overflow: hidden;
    flex-direction: column;
    padding: 47px 0 0 147px;
    gap: 89px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    
  }
 .links{
  text-decoration: none;
 }
  @media screen and (max-width: 1425px) {
    .frame-wrapper,
    .unsplash3jmfencl24m-parent {
      max-width: 100%;
    }
    .frame-parent {
      gap: 85px;
    }
  }
  @media screen and (max-width: 1200px) {
    .frame-wrapper {
      max-width: 100%;
    }
    .merkist-logo-1-wrapper {
      min-width: 100%;
      margin-left: 0;
    }
    .unsplash3jmfencl24m-parent {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 825px) {
    .polygon-parent {
      flex: 1;
    }
    .frame-group {
      flex-wrap: wrap;
    }
    .frame-wrapper,
    .unsplash3jmfencl24m-parent {
      max-width: 100%;
    }
    .frame-parent {
      height: auto;
      gap: 42px;
      padding-bottom: 53px;
      box-sizing: border-box;
    }
    .user-details {
      gap: 44px;
      padding-left: 73px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .back,
    .user-email,
    .user-name {
      font-size: var(--font-size-xl);
    }
    .merkist-project {
      font-size: var(--font-size-lg);
    }
    .frame-parent1 {
      gap: var(--gap-base);
    }
    .merkistgmailcom {
      font-size: var(--font-size-lg);
    }
    .frame-parent2 {
      gap: var(--gap-base);
    }
    .frame-div {
      gap: var(--gap-xl);
    }
    .frame-wrapper,
    .unsplash3jmfencl24m-parent {
      max-width: 100%;
    }
    .frame-parent {
      gap: 21px;
    }
    .user-details {
      gap: 22px;
      padding-left: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  
